---
const { title, description, tags } = Astro.props

function getTagIcon(tag: string): string {
  switch (tag.toLowerCase()) {
    case 'react':
    case 'hooks':
    case 'performance':
    case 'create-react-app':
      return '/icons/react.svg'
    case 'vue':
      return '/icons/vue.svg'
    case 'angular':
      return '/icons/angular.svg'
    case 'javascript':
    case 'js':
      return '/icons/javascript.svg'
    case 'typescript':
    case 'ts':
      return '/icons/typescript.svg'
    case 'python':
      return '/icons/python.svg'
    case 'node':
    case 'nodejs':
      return '/icons/nodejs.svg'
    case 'css':
      return '/icons/css.svg'
    case 'html':
      return '/icons/html.svg'
    case 'astro':
      return '/icons/astro.svg'
    case 'tailwind':
      return '/icons/tailwind.svg'
    case 'docker':
    case 'vps':
      return '/icons/docker.svg'
    case 'github':
    case 'github actions':
    case 'ci/cd':
      return '/icons/github.svg'
    case 'gitlab':
      return '/icons/gitlab.svg'
    case 'bitbucket':
      return '/icons/bitbucket.svg'
    case 'jira':
    default:
      return '/icons/default.svg'
  }
}
---

<div
  class='flex group py-4 relative px-5 flex-col gap-1 rounded-md bg-[#FDFDFC] border border-white hover:border-gray-300 hover:bg-[#f5f5f2]'
>
  <div class='flex gap-2 items-center'>
    <svg
      class='opacity-0 group-hover:opacity-100 absolute left-2'
      xmlns='http://www.w3.org/2000/svg'
      width='14'
      height='14'
      viewBox='0 0 24 24'
      fill='none'
      stroke='currentColor'
      stroke-width='2'
      stroke-linecap='round'
      stroke-linejoin='round'
      class='lucide lucide-chevron-right-icon lucide-chevron-right'
      ><path d='m9 18 6-6-6-6'></path></svg
    >
    <span class='text-[#1b1b18] text-md font-bold'>{title}</span>
  </div>
  <span class='text-[#8c8c8c] text-sm'>{description}</span>
</div>
