<div
  class='flex flex-col prose 
  prose-h1:font-bold
  prose-h2:my-4 prose-h2:mt-6
  prose-p:text-[15px] prose-p:tracking-[-0.01096em] prose-p:leading-[1.75]
  prose-p:mt-0.
  prose-p:max-w-none
  prose-a:text-blue-600 prose-img:rounded-xl
  prose-p:text-[#1b1b18] prose-h2:text-[#1b1b18] 
  prose-em:text-[#1b1b18] prose-strong:text-[#1b1b18] 
  prose-code:text-orange-500'
>
  <slot />
</div>
